# Ignore Python compiled files
*.py[cod]
*$py.class
*.pyc
__pycache__/
web_backend/recommendations/models/*.pkl

# Ignore environment settings
myenv/
.env

# Django specific files
.vscode/
*.log
*.pot
*.pyc
*.pyo
*.db

# Ignore database files
db.sqlite3

# Ignore virtual environment
myenv/

# Ignore IDE specific files
.idea/
*.sublime-workspace
*.sublime-project

# Ignore static and media files (if needed)
staticfiles/
media/

# Ignore migrations
*/migrations/*.py
!*/migrations/__init__.py


# Bỏ qua tất cả tệp .pkl
*.pkl

# Bỏ qua các tệp trong thư mục models/
web_backend/recommendations/models/*.pkl

